<div class="row">
    <div class="col-12">
        <img src="assets/header.jpeg" style="width: 100%;">
    </div>
</div>
<div class="row">
    <div class="col-12">
        <ul class = "nav">
            <li class="nav-item">
                <a class="nav-link active" href="a">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="a">Policiales</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="a">Politica</a>
            </li>
        </ul>
    </div>
</div>