<div class="container-fluid">
  <div class="col-xs-12">
    <h1>People Register</h1>
    <div class="col-xs-6">
      <form #userForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
        <pre> {{ userForm.value | json }} </pre>
        <pre> {{ personModel | json }} </pre>
        <div class="form-group">
          <label for="">Name</label>
          <input
            type="text"
            required
            #name="ngModel"
            class="form-control"
            name="name"
            [(ngModel)]="personModel.name"
          />
          <small [ngClass]="{'hidden': name.valid || name.untouched}">Name is required</small>
        </div>

        <div class="form-group">
          <label for="">CUI</label>
          <input
            type="number"
            required
            #cui="ngModel"
            pattern="^\d{13}$"
            class="form-control"
            name="cui"
            [(ngModel)]="personModel.cui"
          />
          <small [ngClass]="{'hidden': cui.valid || cui.untouched}">CUI is invalid</small>
        </div>

        <div class="form-group">
          <label for="">Balance</label>
          <input
            type="number"
            required
            #balance
            class="form-control"
            name="balance"
            [(ngModel)]="personModel.balance"
          />
        </div>

        <button [disabled]="userForm.form.invalid" class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
